[submodule "memcached"]
	path = memcached
	url = https://github.com/memcached/memcached.git
[submodule "ycsb"]
	path = ycsb
	url = https://github.com/brianfrankcooper/YCSB.git
[submodule "redis/ycsb"]
	path = redis/ycsb
	url = https://github.com/brianfrankcooper/YCSB.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "redis/from_sources/jemalloc"]
	path = redis/from_sources/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "redis/from_sources/redis"]
	path = redis/from_sources/redis
	url = https://github.com/redis/redis.git
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl
