[submodule "memcached"]
	path = memcached
	url = https://github.com/memcached/memcached.git
[submodule "ycsb"]
	path = ycsb
	url = https://github.com/brianfrankcooper/YCSB.git
[submodule "redis/ycsb"]
	path = redis/ycsb
	url = https://github.com/brianfrankcooper/YCSB.git
[submodule "FlameGraph"]
	path = FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
